body{
	font-family: sans-serif, helvetica;
	margin: 0;	
	padding: 0;
	background-color: #babaca;
}


#content{
	margin-left: 3%;  
}

.topo-completo{
	background-image: url(images/OntoLogo2.png);
	background-size: 100% 450px;
	background-repeat: no-repeat;	
	padding-bottom: 450px;
}


#menu-drop-down ul{
	padding: 30px;	
	margin-top: 1%;
	position: fixed;
	margin-left: 10%;
}

#menu-drop-down ul li{
	float: left;
	list-style-type: none;
	display: inline; 
	margin-top: -2.1%; 
	padding: 3px 2px;
	line-height:30px; 
	margin-left: 0.5%;
	
}


#searchGadget_form{
	float: right;
	margin-top: 1%;
	margin-left: 70%;
	color: white;
	position: fixed;	
}



/*Daqui para baixo eh a estilizacao do botao dropdown*/

.dropbtn {
	
	background-color: gray; 
	color: white;
	padding: 0px 8px;
	font-size: 14px;
	border: none;
	cursor: pointer;
	font-style: italic;
	font-weight: bold;
	border-radius: 5px;
}



.dropdown {
  position: relative; /*relative*/ 
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px; /* Ajustar*/
  margin-top: 0;  /* Ajustar*/
  margin-left: 1%; /*Ajustar*/
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0;
  text-decoration: none;
  display: block;
  text-align: center;
}


.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}


/*Reproducao do estilo do botao dropdown para os outros links*/


#menu-drop-down a{
	text-decoration: none;
	background-color: gray;
	color: white;
	padding: 0px 8px;
	font-size: 14px;
	border: none;
	font-style: italic;
	font-weight: bold;
	border-radius: 5px;
}



#menu-drop-down a:hover{
	background-color: #f1f1f1;
}





/* ===== Ancora para login =======*/

#portal-anontools ul {
    margin: 0;
    padding: 8px;
    background-color: #383332;
}


#portal-anontools ul li {
    margin-left: 11%;
    list-style-type: none;
}

#portal-anontools ul li a{
    font-family: sans-serif, helvetica;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}




/* ====== Login em nova Aba ======= */
.pat-formautofocus{
    position:relative;
    font-family: sans-serif, helvetica;
    color: black;
    font-weight: bold;
    font-style: italic;
}

#__ac_name{
    margin-left:1.1%;
    border-radius:7px;
}

#__ac_password{
    margin-top: 5px;
    margin-left: 9%;
    border-radius:7px;
}

#login-forgotten-password{
   margin-top: 3%;   
}

.formControls{
    margin-top: 1%; 
}

.context{
    font-family: sans-serif, helvetica;
    color:white;
    background-color: #383332;
    font-weight: bold;
    font-style: italic;
    border-radius: 7px;
}


/* ===== Login em box suspensa ======= */

.plone-modal-content{
     border-radius: 7px;
}


.plone-modal-content .plone-modal-header .plone-modal-close{
    font-family: sans-serif, helvetica;
    color:white;
    background-color: red;
    font-weight: bold;
    font-style: italic;
    border-radius: 7px;
}

.plone-modal-content .plone-modal-body  #login-form #__ac_password{
    margin-left: 26.7%;
}


/*  
    Pegar formulario de login +/-
    Fazer o rodape (E estilizar) (Conteudos baseados no email)
*/



/* ====== Footer ====== */

#footer{
    margin: 0;
    padding: 20px;
    font-family: sans-serif, helvetica;  
    background-color: #383332;
    font-weight: bold;
    font-style: italic;
    /*Logo dos apoiadores, patrocinadores, fomentadores, etc*/
}


#patrocinio{
    text-align: center;
    color:white;
}

#fomento{
    text-align: center;
    color:white;
}


#apoio{
    text-align: center;
    color:white;
}



#footer img{
    width: 120px;
    height: 100px;
}
