body {
	margin: 0;
	padding: 0;
	font-family: Sans-serif,Helvetica;
	background-color: #babaca;
}

#header{
	background-image: url(images/OntoLogo2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 530px;
	background-color: #383332;
}


/* Login e registrar-se no site */

.logger-register{
	padding: 15px;
	background-color: #383332;
	color: white;
}


#log-bottom{
	float: left;
	padding-right: 4%;
	padding-left: 3%;
	
}


#content{
	margin-left:3%;
}

/*#footer{
    color: white;
    background-color:#383332;
    
}*/



/* topo completo: menu com drop down + barra de busca */


.topo-completo{
	padding: 5px 5px 530px 5px;
}

/*Menu com drop down*/

#menu-com-drop-down{
	float: left;
	padding-right: 45px;
	text-align: center; 
	/*margin-right: 25%;*/
}

#menu-com-drop-down nav ul{
	list-style-type: none;
	/*display: inline;*/  /*Encosta a barra de busca no canto*/
}

#menu-com-drop-down nav ul li{
	position: relative;	
	display: inline-block;
	padding: 0;
} 


/* Trata dropdown 1*/
.dropbtn1{
    color: white;
}

.dropdown1{
	position: relative;
	display: inline-block;
	/*border: solid;
	border-color:green;*/
}


.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #383332;
  opacity:0.9;
  min-width: 160px;	
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /*border: solid;
  border-color:red;*/
 
}



/* Change color of dropdown links on hover */
.dropdown-content1 a:hover{
	opacity: 0.7;
	border-radius: 12px;
}


/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1{
	display: block;
}



/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1{
	opacity: 0.7;
}



/* Trata dropdown 2*/


.dropdown2{
	position: relative;
	display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Change color of dropdown links on hover */
.dropdown-content2 a:hover{
	opacity: 0.7;
	border-radius: 12px;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2{
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn2{
	opacity: 0.7;
}



/*barra de busca*/

#searchGadget_form{
    margin-top: 2%;
    margin-right: 3%;
    color:white;
    font-family: Sans-serif,Helvetica;
	font-weight:bold;
	font-style: italic;
	float: right;
}

.searchButton{
  font-family: Sans-serif,Helvetica;
  font-weight:bold;
  font-style: italic;
  background-color: #808080; /* Green */
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
}





/*Imagens Menu topo*/

img {
	width: 100%;
	height: 39px;
	border-radius: 12px;
}



/* ====== Login em nova Aba ======= */
.pat-formautofocus{
    position:relative;
    font-family: sans-serif, helvetica;
    color: black;
    font-weight: bold;
    font-style: italic;
}

#__ac_name{
    margin-left:1.1%;
    border-radius:7px;
}

#__ac_password{
    margin-top: 5px;
    margin-left: 9%;
    border-radius:7px;
}

#login-forgotten-password{
   margin-top: 3%;   
}

.formControls{
    margin-top: 1%; 
}

.context{
    font-family: sans-serif, helvetica;
    color:white;
    background-color: #383332;
    font-weight: bold;
    font-style: italic;
    border-radius: 7px;
}


/* ===== Login em box suspensa ======= */

.plone-modal-content{
     border-radius: 7px;
}


.plone-modal-content .plone-modal-header .plone-modal-close{
    font-family: sans-serif, helvetica;
    color:white;
    background-color: red;
    font-weight: bold;
    font-style: italic;
    border-radius: 7px;
}

.plone-modal-content .plone-modal-body  #login-form #__ac_password{
    margin-left: 26.7%;
}



/* ===== Ancora para login =======*/

#portal-anontools ul {
    margin: 0;
    padding: 8px;
    background-color: #383332;
}


#portal-anontools ul li {
    margin-left: 7%;
    list-style-type: none;
}

#portal-anontools ul li a{
    font-family: sans-serif, helvetica;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    margin-right: 2%;
}
